<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/fontello.css') }}">
    <title>Inicio</title>
</head>
<body>

<div id="barra">
<a href="/salir" id="link2" >Salir</a>
<a href="#" id="link2" >Crear</a>
<div class="navegacion">
<input type="search" placeholder="Buscar">
</div>
</div>


<div class="campo">
    <table  class="content-table" >
        <thead>
            <tr>
                <th style='width: 6%;'>int</th>
                <th style='width: 10%;'>Titulo</th>
                <th style='width: 30%;'>Descripcion</th>
                <th style='width: 11%;'>Fecha</th>
                <th style='width: 9%;'>Hora</th>
            </tr>
        </thead>
        <tbody>
            {% for i in eventos %}
            <tr>
                <td><input type="checkbox" value="{{ i[0] }}"></td>
                <td>{{ i[2] }}</td>
                <td>{{ i[3] }}</td>
                <td>{{ i[4] }}</td>
                <td>{{ i[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container">
    <input type="checkbox" id="btn-mas">
    <div class="opciones">
        <a href="#" class="icon-eliminar"></a>
        <a href="#" class="icon-editar"></a>
    </div>
    <div class="btn-mas">
        <label for="btn-mas" class="icon-mas"></label>
    </div>
</div>

</body>
</html>