<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/fontello.css') }}">
    <title>Inicio</title>
</head>
<body>

<div id="barra1">
<img src="/static/imagen/CodeG.png" id="link3">
<a href="/principal" id="link3" >CODEGROUP</a>
<a href="/salir" id="link2" >Salir</a>
<a href="#" id="link2">Busqueda Avanzada</a>
<a href="/evento" id="link2" >Crear</a>
<div class="navegacion">
    <form action="/busqueda" method="POST">
        <input type="search" name="busqueda" placeholder="Buscar" autocomplete="off">
    </form>
</div>
</div>

<div class="mensaje">
    {% with messages = get_flashed_messages(category_filter=["exito"]) %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success mb-3" role="alert">
                <i class="close icon" onclick=delete_flash(this)>X</i>
                {{ message }}     
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

</div>


<div class="campo">
    <table  class="content-table" >
        <thead>
            <tr>
                <th style='width: 6%;'>int</th>
                <th style='width: 10%;'>Titulo</th>
                <th style='width: 30%;'>Descripcion</th>
                <th style='width: 11%;'>Fecha</th>
                <th style='width: 9%;'>Hora</th>
            </tr>
        </thead>
        <tbody>
            {% for i in eventos %}
            <tr>
                <td><input type="checkbox" onclick="num(value='{{ i[0] }}')"></td>
                <td>{{ i[2] }}</td>
                <td>{{ i[3] }}</td>
                <td>{{ i[4] }}</td>
                <td>{{ i[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container">
    <input type="checkbox" id="btn-mas">
    <div class="opciones">
        <a  onclick="borrar(this)" class="icon-eliminar"></a>
        <a onclick="editar(this)" class="icon-editar"></a>
    </div>
    <div class="btn-mas">
        <label for="btn-mas" class="icon-mas"></label>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>

    function delete_flash(flash){
            $(flash).parent().remove()
    }

    function abrir(){
        document.getElementById("vent").style.display="block";
    }

    function cerrar(){
        document.getElementById("vent").style.display="none";
    }

    function num(id){
        numero = id
        return numero
    }

    function borrar(a){
        var r = confirm("Seguro que desea borrar!");
        if (r == true) {
            a.setAttribute('href','/borrar/'+ numero)
        } else {
            return a.setAttribute('href','/principal')
        }
    }

    function editar(a){
        a.setAttribute('href','/editar/'+ numero)
    }

</script>
</body>
</html>